<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/e5b61c4010.js" crossorigin="anonymous"></script>
    <title>mercadoLiebre</title>
</head>

<body>
    <header class="home_header">
        <!-- imagen del logo -->
        <div class="home_header_contenedor">
            <div class="home_header_contenedor_img_barra">
                <div class="home_header_contenedor_img">
                    <img src="/img/logo-mercado-liebre.svg" alt="Logo mercadoLiebre">
                </div>
                <!-- formulario -->
                <div class="home_header_contenedor_barra">
                    <form action="">
                        <!-- input tipo texto para la barra de busqueda -->
                        <input type="text" placeholder="Buscar productos, marca">
                        <!--   <button><i class="fas fa-search"></i></button> -->
                    </form>
                </div>
            </div>
            <!-- creo un div y agrego icono de mano  -->
            <div class="home_header--div">
                <h4>
                    <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito
                </h4>
            </div>
        </div>
        <div class="contenedor_home_header--navegacion">
            <nav class="home_header--navegacion-opciones">
                <ul class="home_header--navegacion-opciones-ul">
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/">Tiendas</a></li>
                    <li><a href="/">Vender</a></li>
                    <li><a href="/">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="home_header--navegacion-menu">
                <ul class="home_header--navegacion-menu-ul">
                    <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="/">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>
        <!-- agrego div con icono de hamburguesa -->
        <div class="menu_hamburguesa">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="main_login">
        <form class="main_form_login">
            <input type="text" placeholder="Nombre de usuario">
            <input type="password" placeholder="Elegi tu contraseña">
            <button class="main_form_login_button" type="submit">Enviar</button>
        </form>
    </main>
    <footer>
        <section>
            <article class="article">
                <i class="fas fa-credit-card"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h3>Envio gratis desde $2.500</h3>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                    miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <article class="copyright">
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </article>
        </section>
    </footer>
</body>

</html>