<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/e5b61c4010.js" crossorigin="anonymous"></script>
    <title>mercadoLiebre</title>
</head>

<body>
    <header class="home_header">
        <!-- imagen del logo -->
        <div class="home_header_contenedor">
            <div class="home_header_contenedor_img_barra">
                <div class="home_header_contenedor_img">
                    <img src="/img/logo-mercado-liebre.svg" alt="Logo mercadoLiebre">
                </div>
                <!-- formulario -->
                <div class="home_header_contenedor_barra">
                    <form action="">
                        <!-- input tipo texto para la barra de busqueda -->
                        <input type="text" placeholder="Buscar productos, marca">
                        <!-- <button><i class="fas fa-search"></i></button> -->
                    </form>
                </div>
            </div>
            <!-- creo un div y agrego icono de mano  -->
            <div class="home_header--div">
                <h4>
                    <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito
                </h4>
            </div>
        </div>
        <div class="contenedor_home_header--navegacion">
            <nav class="home_header--navegacion-opciones">
                <ul class="home_header--navegacion-opciones-ul">
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/">Tiendas</a></li>
                    <li><a href="/">Vender</a></li>
                    <li><a href="/">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="home_header--navegacion-menu">
                <ul class="home_header--navegacion-menu-ul">
                    <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="/">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>
        <!-- agrego div con icono de hamburguesa -->
        <div class="menu_hamburguesa">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="main__login">
        <div class="main__formulario">
            <h1 id="title">Registro</h1>
            <form action="">
                <div class="main_formulario_input-grupo">
                    <div class="main_formulario_input-grupo--field">
                        <i class="far fa-envelope"></i>
                        <input type="email" placeholder="Email" />
                    </div>
                    <div class="main_formulario_input-grupo--field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Contraseña" />
                        <i class="fa-regular fa-eye-slash"></i>
                    </div>
                    <div class="main_formulario_input-grupo--field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Confirmar contraseña" />
                        <i class="fa-regular fa-eye-slash"></i>
                    </div>
                    <div class="main_formulario_input-grupo--field">
                        <input type="date" placeholder="Ingrese su fecha de nacimiento" />
                    </div>
                    <div class="main_formulario_input-grupo--field">

                        <input type="text" placeholder="Domicilio" />

                    </div>
                    <h3>Perfil del usuario</h3>
                    <div class="main_formulario_radio ">

                        <input type="radio" />
                        <p>Comprador</p>
                        <input type="radio" />
                        <p>Vendedor</p>

                    </div>
                </div>
                <h3>Intereses</h3>
                <div class="main_formulario-checkbox">

                    <input type="checkbox" />
                    <p>Electro</p>
                    <input type="checkbox" />
                    <p>Moda</p>
                    <input type="checkbox" />
                    <p>Hogar</p>
                    <input type="checkbox" />
                    <p>Jugueteria</p>
                    <input type="checkbox" />
                    <p>Vida sana</p>
                </div>
                <div class="primary__button">
                    <button id="signUp" type="submit">Registrarse</button>
                </div>

            </form>
        </div>
    </main>
    <footer>
        <section>
            <article class="article">
                <i class="fas fa-credit-card"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h3>Envio gratis desde $2.500</h3>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                    miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <article class="copyright">
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </article>
        </section>
    </footer>
</body>

</html>