/* estilos generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/* importo tipografia */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/* creo root para guardar valores de los colores */
:root{
    --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

/* tamaños de tipografia
cuerpo texto 12px
titulos 24px 
precios 18px
descuentos 16px
descripciones 16px*/

/* aplico el tipo de letra para todo el body */
body{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background-color: var(--grisClaro);
}

/* quito la decoracion de las li */
li{
    list-style: none;
}

/* quito la decoracion de los hipervinculos y le doy un color negro */
a{
    text-decoration: none;
    color: black;
}
