/* HEADER */
.home_header{
    background-color: var(--amarillo);/* color de fondo */
    background-size: cover;/* para que la imagen escale sin estirarse */
    padding: 30px 5px 15px;
}
.home_header_contenedor_img_barra{
    display: flex;
    justify-content: flex-start;
}
.home_header_contenedor_img{
    width: 50%;
}
.home_header_contenedor_img img{
    width:100%;
    height: auto;
}
.home_header_contenedor_barra{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    /* padding: 5px; */
    width: 50%;
}

.home_header_contenedor_barra input{
    border: none;
    outline: none;
    flex: 1;
    width: 80%;
    padding: 5px;
    font-size: 16px;
}
.home_header_contenedor_barra button{
    color: #777777;
    border: none;
    outline: none;
    width: 20%;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.home_header_contenedor_barra button i{
    font-size: 18px;
}



.home_header form{
    margin-left: 10px;
}

.home_header--div{
    margin: 10px;
}

.home_header--div h4{
    margin-left: 20px;
}

.home_header--navegacion-opciones{
    display: none;
}
.home_header--navegacion-menu{
    display: none;
}
.home_header--navegacion-menu ul li a{
    margin-right: 5px;
}
.menu_hamburguesa{
    text-align: center;
}
.menu_hamburguesa i{
    padding: 10px;
    background-color: var(--celeste);
    border-radius: 15%;
    color: var(--grisClaro);
    font-size: 2em;
    margin-bottom: 10px;
}

/* MAIN */
main{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.contenedor-principal{
    height: auto;
    position: relative;
    gap: 20px;
    /* padding-bottom: 10%;
    padding-top: 10%; */
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* margin: 10px; */
    border-top:1px solid #ebebeb ;
    padding: 5% 2%;
}
.contenedor-principal img{
    width: 100%;
    border-bottom: solid 1px green;
}

.contenedor-logo{
    display: flex;
    justify-content: flex-end;
}

.contenedor-logo i{
    display: block;
    font-size: 16px;
    color: green;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: solid 1px green;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 20px;
    top: -20px;

}
.contenedor-informacion{
    display: flex;
    align-items: center;
    gap: 5%;/* separacion como un margen entre elementos */
    padding-bottom: 1.2%;
}

.contenedor-informacion .precio{
    font-size: 18px;
    /* width: 30%; */
}
.contenedor-informacion .descuento{
    font-size: 16px;
    /* width: 70%; */
    color: var(--verde);
}
.contenedor-descripcion{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    color: var(--grisOscuro);
}
/* titulos de basado y  ofertas */
h2{
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    padding: 10px;
    color: var(--grisOscuro);
}

/* FOOTER */
footer section{
    text-align: center;
    margin: 0px 48px;
}

footer section article i{
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 32px;
    color: var(--celeste);
}

.copyright{
    margin-top: 10px;
    text-align: left;
    font-size: 8px;
}

@media (min-width:361px){
    /* HEADER */
    .home_header_contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home_header--div{
        text-align: center;
    }
    .home_header nav{
        margin: 8px;
    }
    .home_header--navegacion-opciones{
        display: block;
    }
    .home_header--navegacion-opciones-ul{
        display: flex;
        width: 30%;
    }
    .home_header--navegacion-opciones-ul li{
        padding: 5px;
    }
    .home_header--navegacion-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    .home_header--navegacion-menu-ul{
        display: flex;
        
    }
    .contenedor_home_header--navegacion{
    display: flex;
    justify-content: space-between;
   }
    .menu_hamburguesa{
        display: none;
    }
    /* MAIN */
    .seccion-contenedora-articulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contenedor-principal{
        width: 43%;
        margin: 10px;
    }
    .contenedor-logo{
        display: flex;
        justify-content: flex-end;
    }
    
    .contenedor-logo i{
        display: block;
        font-size: 16px;
        color: green;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: solid 1px green;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 0px;
        top: -20px;
    }
    

}
@media (min-width:769px){
    /* HEADER */
    .home_header--div{
        text-align: center;
    }
    .home_header nav{
        margin: 8px;
    }
    .home_header--navegacion-opciones{
        display: block;
    }
    .home_header--navegacion-opciones-ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .home_header--navegacion-opciones-ul li{
        padding: 5px;
    }
    .home_header--navegacion-menu{
        display: block;
    }
    .home_header--navegacion-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    .home_header--navegacion-menu-ul{
        display: flex;
        
    }
    .menu_hamburguesa{
        display: none;
    }
    /* MAIN */
    .seccion-contenedora-articulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contenedor-principal{
        width: 21%;
        margin: 10px;
    }
    .contenedor-logo{
        display: flex;
        justify-content: flex-end;
    }
  
    .contenedor-principal .precio{
        font-size: 16px;
    }
    .contenedor-principal .descuento{
        font-size: 14px;
    }
    .contenedor-descripcion{
        font-size: 14px;
    }
    .contenedor-logo i{
        display: block;
        font-size: 16px;
        color: green;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: solid 1px green;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: -5px;
        top: -20px;
    
    }
}