.main__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

    background-color: var(--amarillo);
    padding: 20px;
    margin: 15px auto;
    text-align: center;
    border-radius: 25px;
}

.main__formulario h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--azul);
    position: relative;
}

.main__formulario h3 {
    text-align: left;
    font-size: 17px;
}

.main_formulario_input-grupo {
    height: auto;
}

.main__form__radio {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.main_formulario_radio p {
    font-size: 15px;
}

.main_formulario-checkbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0px;
    width: 100%;
}

.main_formulario-checkbox input {
    height: 1em;
    width: 20%;
    border-radius: 3px;
    border: solid 2px red;
    text-align: left;
    margin-bottom: 10px;
}

.main_formulario-checkbox p {
    margin-bottom: 10px;
    width: 80%;
    color: var(--azul);
    font-size: 15px;
    text-align: left;
}

.main__formulario p {
    color: var(--azul);
}

/*TABLET*/
@media (min-width: 481px) {
    .main__formulario {

        width: 70%;


    }

    .main__formulario form {
        width: 80%;
    }
}

/*DESTOPK*/
@media (min-width: 769px) {
    .main__formulario {

        width: 50%;


    }

    .main__formulario form {
        width: 60%;
    }
}